@charset "utf-8";

body.style .show-public-or-private .gaia-argoui-space-spacelayout-cover {
    background-image:none !important;
    background-color:#ffffff;
}
body.style .container-gaia .gaia-argoui-app-titlebar-has-background {
    background-image:none !important;
    background-color:#ffffff;
}
body.style .body-top .gaia-argoui-app-titlebar {
    background-image:none !important;
    background-color:#ffffff;   
}
body.style .gaia-argoui-app-titlebar-content-wrapper {
    background-image: url(https://emxas-em.cybozu.com/k/api/space/cover/download.do?spaceId=296&r=true&hash=AA33A);
    background-repeat:no-repeat;
    background-position:left center;
    background-size:auto 36px;
    padding-left:50px;
}
body.style .gaia-argoui-space-spacelayout-title-wrapper {
    background-image: url(https://emxas-em.cybozu.com/k/api/space/cover/download.do?spaceId=296&r=true&hash=AA33A);
    background-repeat:no-repeat;
    background-position:left center;
    background-size:auto 36px;
    padding-left:50px;
}

body.style a.gaia-argoui-space-spacelayout-title {
    color:#000000;
    text-shadow: 0 0px 0px #ffffff !important;
}
body.style a.gaia-argoui-app-titlebar-content{
    color:#000000 !important;
    text-shadow: 0 0px 0px #ffffff !important;
}
body.style a.gaia-argoui-app-titlebar-content:hover{
    color:#cccccc !important;
}
body.style a.gaia-argoui-space-spacelayout-title:hover {
    color:#cccccc;
}