@charset "utf-8";
.ui.header .fb-header {
    padding:8px 8px 18px 8px;
}
h1.header.fb-title {
    opacity:0;
}
.ui.header .fb-header {
    position: relative;
    display: flex;
    align-items: center;
    background-color:#ffffff !important;
}
.ui.header .fb-header:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 20%;
    height: 8px;
    background: #ffcc00;
}
.ui.header .fb-header:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 80%;
    height: 8px;
    background: #4b4b4b;
    visibility: inherit !important;
}
.ui.header .fb-header a {
   display:block;
   width:50px;
}
.ui.header .fb-header a img {
    width:100%;
}
#softname {
    padding-left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}
.column.el-form-item {
    width:100%;
}
.ql-editor {
    padding:0;
}
.ql-editor p {
    margin-top:12px;
    padding:0 0 0 17px;
    font-size:1.2rem;
    font-weight:normal;
}
.ql-editor p:first-child {
    width: 100%;
    font-size: 2rem;
    margin-top: 36px !important;
    padding: 0 0 0 12px;
    border-left: 5px solid #ffcc00;
    font-weight: bold;
}
.ui.grid>.row {
    padding:3px 0;
}
#logout_btn {
    position: absolute;
    top: 9px;
    right: 9px;
    border-radius: 10px;
    padding: 12px;
    font-size: 0.8em;
    background-color: #ffcc00;
    text-align: center;
    color:#4b4b4b;
    
}

#a {
    position: relative;
    bottom: 42px;
    left: 130px;
    background-color: #ffcc00;
    padding: 8px 12px;
    border-radius: 6px;
    color:#000000;
    font-weight:bold;
}
.button.fb-confirm, 
.button.fb-back, 
.button.fb-submit {
    background-color:#ffcc00 !important;
    color:#000000 !important;
}

.center.aligned.column a {
    opacity:0;
}
.fb-submit{
    font-size: 0 !important;
    line-height: 1em !important;
    padding: 17px !important;
    width: 100px !important;
}
.fb-submit:before{
 
}
.fb-submit:before{
 content:'送信';
 font-size:14px;
}
.lastlink a {
    display: inline-block;
    padding: 12px 30px;
    background-color: #ffcc00;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color:#000000;
    font-weight:bold;
}

.ui.center.aligned.grid.mt3.my-page {
    display:none;
}
.sendbtnarea {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 30px 20px 20px 20px;
    line-height: 1.5em;
}

.el-input input {
    background-color:#fff9e3 !important;
}

.is-disabled input {
    background-color:#cccccc !important;
}

@media screen and (max-width:480px) { 
.column.field {
  width:100% !important;
}
.field.row {
  width:100% !important;
  display:block;
}
.wide.column {
  width:100% !important;
}
.ui.celled.grid>.row {
  box-shadow:none !important;
}
#softname {
    padding-left: 12px;
    font-size: 1.2rem;
}
.ui.header .fb-header {
    padding-right: 39%;
}
}